
.model{
    font-size: 1.1rem;
    margin: .8rem 0;
    
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    border-radius: 8px 8px 0 0;
}
.container__left{
    margin-right: 4rem;
}

.container__right{
    border: 1px solid white;
    border-radius: 8px;
   
}

.container__text{
    padding-left: 1rem;
    font-size: 1.1rem;
}